.env
*.env
.env.*
*.env.*
.env.local
.env.*.local
*.pem
*.key
*.me

# ignore python cache
__pycache__/

# ignore other generated json
*.json

# but keep application state
!stock_state.json
!news_state.json